.Component {
  padding: 0 16px;
  line-height: 32px;
  font-size: 14px;
  background-color: #f5f5f6;
  color: gray;
}

.top {
  height: 180px;
  img {
    height: 100%;
    width: 100%;
  }
}

.user {
  display: flex;
  padding: 16px 10px;
  border-bottom: 1px solid gainsboro;

  .avater {
    padding: 16px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .describtion {
    word-break: break-all;

    h3 {
      margin: 0 0 5px 0;
    }

    p {
      margin: 0 0 5px 0;
      font-size: 14px;
      color:darkgray
    }
  }
}
