<div>
    <div class="top"  >
        <img  [src]="dataobj['img']" alt="" srcset="">
    </div>
    <div class="Component">Component</div>
    <div class="user" *ngFor="let i of users">
        <div class="avater">
            <img [src]="i.avatar" alt="" srcset="">
        </div>

        <div class="describtion" >
            <h3>{{i.name}}</h3>
            <p>{{i.comment}}</p>
        </div>
    </div>
  <div [hidden]="isnullData" style="text-align: center;color: gainsboro;">
      <img src="../../../assets/null.png" alt="" srcset="">
      <p>暂无数据</p>
  </div>
</div>
